<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">


		<resultMap id="memberMap" type="Member">
			<id property="memberId" column="MEMBER_ID"/>
		</resultMap>
		
		<!-- [2. 게시글 관리 resultMap]  -->
		<resultMap id="postMap" type="Post">
			<id property="date" column="PDATE"/>
		</resultMap>
		
	
		<select id="selectMemberList" resultMap="memberMap" >
			SELECT *
			FROM MEMBER
		</select>
		
		
		<select id="selectRestaurantList" resultType="Restaurant">
			SELECT *
			FROM RESTAURANT
			ORDER BY RNO DESC
		</select>
		
		<select id="selectPostList" resultMap="postMap" >
			SELECT P.* ,R.RNAME 
	        FROM POST P
			JOIN RESTAURANT R ON(P.RNO=R.RNO)
			ORDER BY PNO DESC
		</select>
	
		<select id="selectPictureList" resultMap="postMap" >
			SELECT P.* ,R.RNAME 
	        FROM POST P
			JOIN RESTAURANT R ON(P.RNO=R.RNO)
			ORDER BY PNO DESC
		</select>
		
	
		<select id="selectNoticeList" >
			SELECT * FROM NOTICE
			ORDER BY NNO DESC
		</select>
	
		<select id="insertNotice">
			
		</select>
	
		<select id="updateNotice" >
			
		</select>
		
		<select id="updateNoticeStatus" >
			
		</select>
		
		
	
		<select id="selectReportList" resultType="Post" >
			SELECT * FROM  REPORT
		</select>
	
		
</mapper>










