<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

	<resultMap id="resultPostComment" type="PostComment">
		<id property="cno" column="COMMENT_SEQ"/>
	</resultMap>
	
	<!-- ●댓글 레벨별 조회 -->
	<select id="selectPcomment" parameterType="PostComment" resultType="POSTCOMMENT">
		SELECT *, LEVEL
		FROM  POST_COMMENT
		START WITH PARENTKEY = 0,  <!-- 최상위노드 설정 -->
		CONNECT BY PRIOR PARENTKEY = COMMENT_SEQ <!-- 부모노드와 자식노드 연결 -->
	</select>
	
	<!-- ●댓글 등록 -->
	<insert id="insertPostComment" parameterType="PostComment" >  
		INSERT INTO POST_COMMENT
		VALUES(SEQ_COM.NEXTVAL, #{pNo}, #{ccontent}, DEFAULT, #{cwriter}, DEFAULT,  
		 <choose>
			<when test="parentkey > 0">
				#{parentkey}
			</when>
			<otherwise>
				DEFAULT
			</otherwise>	    
	    </choose>
	    )
	</insert>
	
	<!-- ●댓글 수정 -->
	<update id="updatePostComment" parameterType="PostComment">
		UPDATE POST_COMMENT SET CCONTENT = #{ccontent}
		WHERE COMMENT_SEQ = #{cno}
	</update>
	
	<!-- ●댓글 삭제 -->
	<delete id="deletePostComment" parameterType="PostComment">
		DELETE FROM POST_COMMENT 
		WHERE COMMENT_SEQ = #{cno}
	</delete>
	

	
</mapper>










