<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurantMapper">

	<resultMap id="PICTURE_NO" type="map">
      <result property="prenamedname" column="PRENAMEDNAME"/>
   </resultMap>
	
	
	<resultMap id="POSTLIST" type="map">
			<result property="date" column="PDATE"/>
	</resultMap>


	<resultMap type="map" id="RPicture">
			<result property="prenamedname" column="PRENAMEDNAME"/>
			<result property="avg_star" column="STAR"/>
	</resultMap>
	
	<resultMap  type="map" id="around">	
				<result property="prenamedname" column="PRENAMEDNAME"/>
				<result property="avg_star" column="STAR"/>
				<result property="rname" column="RNAME"/>
				<result property="address" column="ADDRESS"/>

	</resultMap>


	<!-- 식당 상세 페이지 (조은성)-->
	<select id="selectOneRestaurant" parameterType="_int" resultType="Restaurant">
		SELECT * FROM RESTAURANT
		WHERE  RNO = #{rno}
	</select>

	<!-- 식당 상세 페이지 (사진 슬라이드)(조은성) -->
	 <select  id="PictureList" parameterType="_int" resultMap="PICTURE_NO">
	SELECT PRENAMEDNAME
	FROM PICTURE A
	JOIN POST P ON(A.PNO=P.PNO)
	WHERE P.RNO=#{rno}
	</select>

	<!-- 음식점 Top9 (조현민) -->
	<select id="selectTop8" resultType="RestaurantList">
		SELECT A.RNO, A.RNAME, SUBSTR(A.ADDRESS, 1, 7) "ADDRESS", NAME.PRENAMEDNAME
		FROM (SELECT ROUND(AVG_STAR, 1) "STAR", R.*
		      FROM (
		               SELECT AVG(STAR) "AVG_STAR",COUNT(RNO), RNO
		               FROM POST P
		               GROUP BY RNO
		               ORDER BY 1 DESC, 2 DESC) S
		      JOIN RESTAURANT R ON(R.RNO=S.RNO)
		      <![CDATA[WHERE ROWNUM<10]]>) A
		left JOIN (SELECT PC.*, P.RNO
				   FROM(
						SELECT PRENAMEDNAME,PNO
						FROM PICTURE 
						WHERE PLEVEL=0) PC
				   JOIN POST P ON(P.PNO=PC.PNO)
				   JOIN (SELECT MIN(PNO) "PNO", RNO
						 FROM POST
						 GROUP BY RNO) MINPOST ON(MINPOST.PNO=PC.PNO) )NAME ON(NAME.RNO=A.RNO)
		WHERE A.RSTATUS = 'Y'
		ORDER BY STAR DESC
	</select>
	
	<!-- 인플루언서 Top8 (조현민) -->
	<select id="influencerTop8" resultType="Influencer">
		SELECT V_INF.*, PI.PRENAMEDNAME, NICKNAME, (SELECT COUNT(*)
								                    FROM POST_COMMENT
								                    WHERE PNO=1 AND CSTATUS = 'Y') PC_CNT
		FROM V_INF
		JOIN PICTURE PI ON(V_INF.PNO = PI.PNO)
		JOIN MEMBER M ON(V_INF.MEMBER_ID = M.MEMBER_ID)
		WHERE PLEVEL = 0 AND  V_INF.PSTATUS = 'Y'
		ORDER BY LOVECNT DESC
	</select>
	
	<!-- searchBar 음식점 (조현민) -->
	<select id="RestaurantSearchBar" resultType="RestaurantList">
		SELECT R.RNO, R.RNAME, R.RCONTENT, R.ADDRESS, NAME.PRENAMEDNAME
		FROM (SELECT RNO, RNAME, RCONTENT, SUBSTR(ADDRESS, 1, 7) ADDRESS
		            FROM RESTAURANT
		            WHERE RNAME LIKE '%'||#{keyword}||'%' 
		            OR RCONTENT LIKE '%'||#{keyword}||'%' 
		            OR CATEGORY LIKE '%'||#{keyword}||'%') R
		left JOIN (SELECT PC.*, P.RNO
		               FROM(
		                          SELECT PRENAMEDNAME,PNO
		                          FROM PICTURE 
		                          WHERE PLEVEL=0) PC
		              JOIN POST P ON(P.PNO=PC.PNO)
		              JOIN (SELECT MIN(PNO) "PNO", RNO
		                       FROM POST
		                       WHERE PSTATUS = 'Y'
		                       GROUP BY RNO) MINPOST ON(MINPOST.PNO=PC.PNO)) NAME ON(NAME.RNO=R.RNO)
		ORDER BY RNO DESC
	</select>

	<!-- searchBar 게시글 (조현민) -->
	<select id="PostSearchBar" resultType="PostList">
		SELECT R.*, PI.PRENAMEDNAME, M.NICKNAME "NICKNAME"
		FROM (SELECT RE.RNO, P.PNO, RE.RNAME, P.PCONTENT, SUBSTR(ADDRESS, 1, 7) ADDRESS, P.MEMBER_ID
		            FROM RESTAURANT RE
		            JOIN POST P ON(P.RNO = RE.RNO)
		            WHERE RE.RSTATUS = 'Y') R
		JOIN PICTURE PI ON(PI.PNO=R.PNO)
		JOIN MEMBER M ON(M.MEMBER_ID = R.MEMBER_ID)
		WHERE PLEVEL = 0
		AND RNAME LIKE '%'||#{keyword}||'%' 
        OR PCONTENT LIKE '%'||#{keyword}||'%' 
        OR NICKNAME LIKE '%'||#{keyword}||'%'
		ORDER BY R.PNO DESC
	</select>




<!-- 북마크 확인  (조은성)-->
<select id="selectBookmark"  parameterType="Bookmark" resultType="_int">
 SELECT COUNT(*)
 FROM BOOKMARK
 WHERE MEMBER_ID = #{memberId} and RNO = #{rno}
</select>

<!-- 북마크 추가 (조은성)-->
<insert id="insertBookmark" parameterType="Bookmark">
       INSERT INTO BOOKMARK VALUES(SEQ_BOOK.NEXTVAL,#{memberId}, #{rno})
</insert>

	<!-- 북마크 취소 (조은성)-->
<delete id="deleteBookmark" parameterType="Bookmark">
DELETE FROM BOOKMARK 
WHERE MEMBER_ID = #{memberId} AND RNO = #{rno}
</delete>



<!-- 식당에 해당하는 리뷰  (조은성)-->
 <select id="postList" resultMap="POSTLIST">
SELECT M.NICKNAME, M.MPHOTO, P.*
FROM POST P
JOIN MEMBER M ON(P.MEMBER_ID = M.MEMBER_ID)
WHERE RNO = ${rno} and PSTATUS = 'Y'
</select>


<!--식당 리뷰 사진 -->
<select id="postPicture" resultMap="RPicture">
SELECT  P.PRENAMEDNAME, A. PNO
FROM PICTURE P
JOIN POST  A ON (P.PNO = A.PNO)
WHERE A.RNO = ${rNo}
</select>


<!-- 식당에 해당하는 게시글 작성자 성별 비율 (조은성) -->
<select id="chartList" parameterType="_int" resultType="HashMap">
SELECT SUM(DECODE(GENDER, 'M', 1, 0)) "남자",
            
               SUM(DECODE(GENDER, 'F', 1, 0)) "여자"
FROM MEMBER
JOIN POST USING(MEMBER_ID)
WHERE RNO = ${rno}
</select> 


<!-- ●해당 식당에 대한 게시글 작성자의 연령대 비율 (조은성)-->
<select id="chartListTwo"  parameterType="_int"  resultType="HashMap" >
SELECT 
(SELECT COUNT(*)
FROM(SELECT *
        FROM (SELECT TO_CHAR(SYSDATE,'YYYY')-TO_CHAR(BIRTH,'YYYY') "YEAR" , MEMBER_ID
                 FROM MEMBER) 
        WHERE MEMBER_ID IN (SELECT MEMBER_ID
                                        FROM POST
                                        WHERE RNO=${rno})) E
        WHERE E."YEAR"LIKE '1%') "10대",
(SELECT COUNT(*)
FROM(SELECT *
        FROM (SELECT TO_CHAR(SYSDATE,'YYYY')-TO_CHAR(BIRTH,'YYYY') "YEAR" , MEMBER_ID
                 FROM MEMBER) 
        WHERE MEMBER_ID IN (SELECT MEMBER_ID
                                        FROM POST
                                        WHERE RNO=${rno})) E
        WHERE E."YEAR"LIKE '2%') "20대",
(SELECT COUNT(*)
FROM(SELECT *
        FROM (SELECT TO_CHAR(SYSDATE,'YYYY')-TO_CHAR(BIRTH,'YYYY') "YEAR" , MEMBER_ID
                 FROM MEMBER) 
        WHERE MEMBER_ID IN (SELECT MEMBER_ID
                                        FROM POST
                                        WHERE RNO=${rno})) E
        WHERE E."YEAR"LIKE '3%') "30대",
(SELECT COUNT(*)
FROM(SELECT *
        FROM (SELECT TO_CHAR(SYSDATE,'YYYY')-TO_CHAR(BIRTH,'YYYY') "YEAR" , MEMBER_ID
                 FROM MEMBER) 
        WHERE MEMBER_ID IN (SELECT MEMBER_ID
                                        FROM POST
                                        WHERE RNO=${rno})) E
        WHERE E."YEAR"LIKE '4%') "40대",
(SELECT COUNT(*)
FROM(SELECT *
        FROM (SELECT TO_CHAR(SYSDATE,'YYYY')-TO_CHAR(BIRTH,'YYYY') "YEAR" , MEMBER_ID
                 FROM MEMBER)
        WHERE MEMBER_ID IN (SELECT MEMBER_ID
                                        FROM POST
                                        WHERE RNO=${rno})) WRITER
        WHERE WRITER."YEAR" >=50) "50대 이상"
FROM DUAL
</select>


<!-- 식당디테일 페이지 주변식당 찾기 (조은성) -->
 <select id="Raround" resultMap="around" >
SELECT PI.PRENAMEDNAME, P.RNO,P.STAR, R.*
FROM PICTURE PI
JOIN POST P ON(P.PNO=PI.PNO)
JOIN (
    SELECT *
    FROM RESTAURANT
    WHERE  RSTATUS='Y' AND ADDRESS LIKE (SUBSTR ('${adress}', 1, 2)||'%')
    AND ROWNUM  <![CDATA[<]]> 5) R ON(R.RNO=P.RNO)
WHERE PI.PLEVEL=0 AND PICTURE_STATUS='Y'
AND (P.PNO, P.RNO) IN (SELECT MIN(PNO), RNO
        FROM POST
        WHERE PSTATUS='Y'
        GROUP BY RNO)
</select> 

<!-- 리뷰개수 (조은성) -->
<select id="postNumber" resultType="_int">
SELECT COUNT(*)
FROM POST P
JOIN MEMBER M ON(P.MEMBER_ID = M.MEMBER_ID)
WHERE RNO = ${rno} and PSTATUS = 'Y'
</select>

	<!-- 식당 전체 리스트 조회  by 안예진-->
	<select id = "restaurantAllList" resultType="RestaurantList">
       SELECT R.* , PO."AVG_STAR", PO."PCNT", (SELECT PNO
		FROM PICTURE
		WHERE PNO = (SELECT MIN(PNO)
		                      FROM POST
		                      JOIN RESTAURANT USING(RNO)
		                      WHERE RNO = PO.RNO
		                     GROUP BY RNO, RNAME)
		    AND <![CDATA[ROWNUM < 2]]>) "PIC_NO", (SELECT PORIGINNAME
		FROM PICTURE
		WHERE PNO = (SELECT MIN(PNO)
		                      FROM POST
		                      JOIN RESTAURANT USING(RNO)
		                      WHERE RNO = PO.RNO
		                     GROUP BY RNO, RNAME)
		    AND <![CDATA[ROWNUM < 2]]>) "PIC_ORIGINNAME", (SELECT PRENAMEDNAME
		FROM PICTURE
		WHERE PNO = (SELECT MIN(PNO)
		                      FROM POST
		                      JOIN RESTAURANT USING(RNO)
		                      WHERE RNO = PO.RNO
		                     GROUP BY RNO, RNAME)
		    AND <![CDATA[ROWNUM < 2]]>) "PRENAMEDNAME"
		FROM 
		        (SELECT RNO, ROUND(AVG(STAR),1) "AVG_STAR", COUNT(PNO) "PCNT"
		        FROM POST
		        GROUP BY RNO
		        ORDER BY 1 , 2) PO
		JOIN RESTAURANT R ON(R.RNO=PO.RNO)
		WHERE RSTATUS='Y'AND ADMINSTATUS='C' OR ADMINSTATUS='A'
	
	</select>
	
	<select id="selectRestaurantTotal" resultType="_int">
		SELECT COUNT(*)FROM RESTAURANT
	</select> 
	
	<!-- 식당 카테고리 통계 -->
	<select id="restaurantCargoChartList" resultType="HashMap">
		SELECT (SELECT COUNT(*) FROM RESTAURANT WHERE CATEGORY = '한식') 한식,
           (SELECT COUNT(*) FROM RESTAURANT WHERE CATEGORY ='중식') 중식,
           (SELECT COUNT(*) FROM RESTAURANT WHERE CATEGORY ='일식') 일식,
           (SELECT COUNT(*) FROM RESTAURANT WHERE CATEGORY ='양식') 양식,
           (SELECT COUNT(*) FROM RESTAURANT WHERE CATEGORY ='기타') 기타
		FROM DUAL
	</select>
	
	<!-- 식당 행정구 통계 -->
	<select id="addressChartList" resultType="HashMap">
		SELECT A.* 
		FROM (SELECT  R.ADDRESS "COUNTRY", COUNT(*) "ctyCount"
		FROM (SELECT SUBSTR(ADDRESS,4,3) "ADDRESS"
		FROM RESTAURANT) R
		GROUP BY ADDRESS
		ORDER BY 2 DESC) A
		WHERE <![CDATA[ROWNUM < 6]]>
	</select>


</mapper>