<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스 설정과 관련된 태그 -->
	<settings>
		<!-- 만약에 Null 값이 들어온다면 DB에서도
		    Null 이라고 받아라! -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- 마이바티스에서 사용하기 위한 
	    VO 클래스의 별칭을 정의하는 태그 -->
	<typeAliases>
		<!-- 
			<typeAlias type="실제 VO객체" alias="mybatis에서 사용할 클래스 별칭">
		 -->
		 <typeAlias type="com.kh.tastyMap.member.model.vo.Member" alias="Member"/>
		 <typeAlias type="com.kh.tastyMap.love.model.vo.Love" alias="Love"/>
		 <typeAlias type="com.kh.tastyMap.restaurant.model.vo.Restaurant" alias="Restaurant"/>
		 <typeAlias type="com.kh.tastyMap.post.model.vo.Post" alias="Post"/>
		 <typeAlias type="com.kh.tastyMap.post.model.vo.Picture" alias="Picture"/>
		 <typeAlias type="com.kh.tastyMap.bookmark.model.vo.Bookmark" alias="Bookmark"/>
		 <typeAlias type="com.kh.tastyMap.postComment.model.vo.PostComment" alias="PostComment"/>
		 
		 
		 <typeAlias type="com.kh.tastyMap.common.Str2ArrayHandler" alias="Str2ArrayHandler"/>
	</typeAliases>
	
	<typeHandlers>
		<!--  특정 타이을 변경해주는 typeHandler 태그 등록 -->
		<package name="com.kh.common"/>
	</typeHandlers>
	
</configuration>










